<!DOCTYPE HTML>
<html>
<header>
</header>

<body>
  <p>Hello World from new.ejs</p>

  <form action="/search" method="post" id="sortKeyForm">
    <select name="sortKey">
    <option value="id">ID</option>
    <option value="creator">Creator</option>
    <option value="created">Created</option>
    <option value="updated">Updated</option>
    <option value="subject">subject</option>
    </select>

    <input type="text" name="query">
    <button>Search!</button>

  </form>

  <hr>

  <% if (posts != null) { %>

  <% posts.forEach(function(post) { %>
  Author, <%= post.creator %> <br>
  ID:, <%= post.id %> <br>
  Created at, <%= post.created %> <br>
  Last Modified at, <%= post.updated %> <br>
  <br>
  <%= post.content %>
  <hr>

  <% }); %>  

  <% } %>



</body>


</html>